[Unit]
Description=Pythia Gata Bot server
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/pgb

[Install]
WantedBy=multi-user.target
